.container{
    background-color: #BCE2C9;
    color: #36B87D ;
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    text-align: center;
    line-height: 100px;
}
.item{
border: 1px solid;
}
.item:first-child{
    grid-column: 1/3;
}
.item:nth-child(2){
    grid-area: 1/3/3/4  ;
}
.item:last-child{
    grid-column: 1/4;
}